<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Cursos - Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="text-center">
    <header>
        <h1>Login</h1>
        <h4>Entre com suas credenciais</h4>
    </header>
    <section>
        <form action="/login" method="post" class="form-signin">
            <input class="form-control" type="text" name="usuario[nome]" placeholder="Nome">
            <input class="form-control" type="password" name="usuario[senha]" placeholder="Senha">
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </section>
    <footer class="footer">
        <small>Sistema de Cadastro de Cursos</small>
    </footer>
</body>

</html>